@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --safe-area-top: env(safe-area-inset-top);
  --safe-area-bottom: env(safe-area-inset-bottom, 0);
  --safe-area-left: env(safe-area-inset-left, 0);
  --safe-area-right: env(safe-area-inset-right, 0);
}

html {
  font-family: var(--ion-font-family);
}

/**
 * Dynamic Type is an iOS-only feature, so
 * this should only be enabled on iOS devices.
 */
@supports (-webkit-touch-callout: none) {
  html {
    /**
     * Includes fallback if Dynamic Type is not enabled.
     */
    font: var(--ion-dynamic-font, 16px var(--ion-font-family));
  }
}
a {
  background-color: transparent;
  color: var(--ion-color-primary, #3880ff);
}

.ripple-parent {
  position: relative;
  overflow: hidden;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.page-content {
  @apply pb-[4.5rem] pt-[4.25rem] md:pb-24 md:pt-20;
}

.form-group {
  @apply flex flex-col;
}

.form-group label {
  @apply mb-1 font-medium text-primary;
}

.form-group input,
select {
  @apply h-11 border-b border-[#CDD1D0] py-3 text-sm focus:border-primary focus:outline-none md:h-12 md:text-base;
}

.form-group input::placeholder,
select::placeholder,
select:invalid {
  @apply text-[#AAA];
}

.form-group textarea {
  @apply rounded-md border border-[#CDD1D0] p-3 focus:border-primary focus:outline-none;
}

.form-group [aria-invalid='true'] {
  @apply border-red-500;
}

.form-group .error-message {
  @apply mt-1 text-sm text-red-500;
}

.btn {
  @apply flex w-full items-center justify-center rounded-md px-4 py-3 text-center font-semibold shadow-md transition-all duration-75 ease-in-out active:scale-95;
}

.btn.btn-small {
  @apply py-2 text-sm;
}

.btn.btn-rounded {
  @apply rounded-[50px];
}

.btn svg {
  @apply mr-2;
}

.btn:disabled {
  @apply cursor-not-allowed opacity-50;
}

.btn.btn-text {
  @apply bg-transparent text-primary;
}

.btn.btn-primary {
  @apply bg-primary text-white;
}

.btn.btn-primary:hover {
  @apply bg-primary/95;
}

.btn.btn-red {
  @apply bg-[#C22C2C] text-white;
}

.btn.btn-red:hover {
  @apply bg-[#C22C2C]/95;
}

.btn.btn-black {
  @apply bg-black text-white;
}

.btn.btn-black:hover {
  @apply bg-black/95;
}

.btn-icon {
  @apply flex h-10 w-10 items-center justify-center rounded-full transition-all duration-75 ease-in-out hover:bg-[#f8f8f8] hover:shadow-sm active:scale-95;
}

.btn-disable-elevation {
  @apply shadow-none;
}

.modal-overlay {
  @apply fixed inset-0 z-50 bg-[rgba(1,1,1,0.47)];
}

.modal-content {
  @apply fixed left-[50%] top-[50%] z-[100] max-h-[85vh] w-[80vw] max-w-[450px] translate-x-[-50%] translate-y-[-50%];
  @apply rounded-xl bg-white p-6 shadow-lg;
}
